{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">This is the hub for RSD Record engagements prototype.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="sprint-9">
      Sprint 9
    </h2>
    <h3 class="govuk-heading-m">Log in as a delivery officer - Alex River (option 1)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/sprint-9/engagement-type-selection-separated.html" class="govuk-link">Engagement listing page</a></li>
    </ul>
    <h3 class="govuk-heading-m">Log in as a delivery officer - Alex River (option 2)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/sprint-9/dashboard-delivery-officers-combined.html" class="govuk-link">Engagement listing page</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
</div>

{% endblock %}
