{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">This is the hub for RSD Record engagements prototype.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="sprint-9">
      Sprint 9
    </h2>
    <h3 class="govuk-heading-m">Log in as a delivery officer - Alex River (option 1: separated engagement types)</h3>
    <p>The start page:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/sprint-9/engagement-type-selection-separated.html" class="govuk-link">Engagement selection</a></li>
    </ul>
    <p>Other pages:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="sprint-9/dashboard-delivery-officers-separated-rg-visits.html" class="govuk-link">Dashboard - RG visits separated</a></li>
      <li><a class="govuk-link" href="sprint-9/dashboard-delivery-officers-separated-strategic-conversation.html" class="govuk-link">Dashboard - Strategic conversation separated</a></li>
      <li><a class="govuk-link" href="sprint-9/task-list-delivery-officers-separated-rg-visits.html" class="govuk-link">Task list - RG visits</a></li>
      <li><a class="govuk-link" href="sprint-9/task-list-delivery-officers-separated-strategic-conversation.html" class="govuk-link">Task list - Strategic conversation</a></li>
    </ul>
    <h3 class="govuk-heading-m">Log in as a delivery officer - Alex River (option 2: combined engagement types)</h3>
    <p>The start page:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/sprint-9/dashboard-delivery-officers-combined.html" class="govuk-link">Dashboard - combined engagement types</a></li>
    </ul>
    <p>Other pages:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="sprint-9/task-list-delivery-officers-combined-rg-visits.html" class="govuk-link">Task list - RG visits</a></li>
      <li><a class="govuk-link" href="sprint-9/task-list-delivery-officers-combined-strategic-conversation.html" class="govuk-link">Task list - Strategic conversation</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
</div>

{% endblock %}
