{% extends "sprint-9/layouts/main-layout-delivery-officers-separate-engagement-types.html" %}

{% set pageName="Task list" %}
{% set currentNav = "home" %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is the type of engagement?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="engagementType-2" name="engagementType" type="radio" value="rg-visit">
                <label class="govuk-label govuk-radios__label" for="engagementType-2">
                  RG visit
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="engagementType-1" name="engagementType" type="radio" value="strategic-conversation">
                <label class="govuk-label govuk-radios__label" for="engagementType-1">
                  Strategic conversation
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button" id="continue-engagement-button">Continue</a>
      </div>
    </div>
  </main>
</div>

<script>
  (function () {
    var button = document.getElementById('continue-engagement-button');

    if (!button) return;

    button.addEventListener('click', function (event) {
      event.preventDefault();

      var selected = document.querySelector('input[name="engagementType"]:checked');
      var target = '/sprint-9/dashboard-delivery-officers-separated-rg-visits.html';

      if (selected && selected.value === 'strategic-conversation') {
        target = '/sprint-9/dashboard-delivery-officers-separated-strategic-conversation.html';
      }

      window.location.href = target;
    });
  })();
</script>

{% endblock %}
